.#{$ns} { 
    &__gloss {
        // display: none;
        position: absolute;
        top: var(--jcgc-gloss-top);
        background: linear-gradient(rgba(255, 255, 255, 0.22) 97%, rgba(255, 255, 255, 0) 100%);
        left: -150px;
        right: -150px;
        height: 200px;        

        transform: var(--jcgc-gloss-rotation) ;
        transition: all ease-in-out $transition-length-gloss;
    }
}
