$gloss-top: -218px;
$gloss-move: 100px;

$transition-length-gloss : 510ms;
$transition-length-rotate : 400ms;

$ns : 'jc-gc';

@import './jc-glossycard.scss';
@import './gloss.scss';
@import './title.scss';
@import './wrapper.scss';
@import './navbutton.scss';
@import './background.scss';
@import './content.scss';
@import './row.scss';

body {
    background: #222;
    display: flex;
    justify-content: center;
}

.tmp {
    width: 1200px;
    // outline: solid 1px red;
}

