.#{$ns} { 
    &__navbutton {
        content: ">";
        width: 80px;
        line-height: 50px;
        position: absolute;
        top: 8px;
        bottom: 20px;
        background:rgba(0, 0, 0, 0.8);
        // background: pink;
        z-index: 500;
    }

    &__nb {
        &-right {
            right: 0;
        }
        &-left {
            left: 0;
        }
    }

}
