.#{$ns} { 
    &__row {    
        // overflow: auto;
        white-space: nowrap;

        overflow: scroll-x;
        // touch-action: pan-x;        

        & > * { 
            display: inline-block;   
            padding: 7px;
            // padding: 0.8vw;
        }
        
        transition: transform ease-in-out 900ms;
    }
}
