.#{$ns} { 
    &__row {    
        white-space: nowrap;
        
        @media only screen and (hover: none) and (max-width: 768px) {
            
            overflow-x: scroll;
        }

        & > * { 
            display: inline-block;   
            padding: 7px;
        }
        
        transition: transform ease-in-out 900ms;
    }
}
