.#{$ns} { 
    &__title {    
        padding: 0.5rem;
        text-overflow: ellipsis;
        font-family: sans-serif;
        
        font-size: 12px;

        letter-spacing: 0.5px;

        color: #fff;
        overflow: hidden;
        text-align: center;
    }
}
