.#{$ns} { 
    &__wrapper {        
        position: relative;
        padding: 1rem;
        overflow: hidden;

        box-shadow: 0px 3px 6px 3px rgb(0 0 0 / 0.36);        
        
        background-size: cover;
        background-position: center center;

        border-radius: 5px;  
        
        transition: all ease-in-out $transition-length-rotate;

        &:hover {
            .jc-gc__gloss { 
                top: calc(var(--jcgc-gloss-top) + var(--jcgc-gloss-move));
             }   
             
             box-shadow: 0px 3px 11px 2px rgb(0 0 0 / 36%);

             transform-origin: top;
            transform: rotate3d(1,0,0,5deg);         
        }
    
    
    }
}
